{% extends 'base.html' %}

{% block content %}
<div class="card">
        <div id="control">
            <button id="recordButton">Record</button>
        </div>
        <div id="formats">Format: start recording to see sample rate</div>
        <p><strong>Recordings:</strong></p>
        <p class="error error--hidden"></p>
        <form name="voice_signup">
        <ol id="recordingsList"></ol>
        <input type="submit" name="Upload" value="Upload">
        <p class="error error--hidden"></p>
        </form>

    <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
    <script src="../static/js/recorder.js"></script>
    <script src="../static/js/voice_signup.js"></script>
</div>
{% endblock content %}